.home-component {
    margin-top: 20px;
    font-family: 'Helvetica';
    font-size: 18px;
    text-align: center;
    .button {
        height: 40px;
        width: 200px;
        margin: 20px auto;
        display: flex;
        justify-content: center;
        border: 1px solid turquoise;
        color: #ffffff;
        border-radius: 5px;
        font-size: 14px;
        cursor: pointer;

        .button_content {
            align-self: center;
            color: turquoise;
        }

        &:hover {
            box-shadow: 0px 3px 5px 0px rgba(168,168,168,0.25);
        }
        &:active {
            transform: scale(0.97);
        }
    }
}